<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071231107854-pvse7ud64hg4hssa3m315o2mg3q4f9da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071231107854-pvse7ud64hg4hssa3m315o2mg3q4f9da</string>
	<key>API_KEY</key>
	<string>AIzaSyBSVWeAPhJ0j44mahGQEWS5ksf1BnKrfMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1071231107854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TiovZhen.OnlineNotes</string>
	<key>PROJECT_ID</key>
	<string>titov-onlinenotes</string>
	<key>STORAGE_BUCKET</key>
	<string>titov-onlinenotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071231107854:ios:62334067cbdb5c629a4d5f</string>
</dict>
</plist>